<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.18.0" targetFramework="net40" />
  <package id="gsl" version="4.1.0.1" targetFramework="net452" developmentDependency="true" />
  <package id="NetMQ" version="3.3.3-rc5" targetFramework="net40" />
  <package id="NetMQ.zproto" version="0.1.5" targetFramework="net40" />
</packages>